* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background: linear-gradient(180deg, #fff, #f0f1ff 100%);
}


.overflow-wrapper {
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}

/*



    Navigation





    */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.botao-preto {
    color: white;
    background-color: #13183F;
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 28px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity .2s ease-in;
    position: relative;
}

.botao-preto:hover {
    opacity: .8;
}

/*



    Heroi





    */

.heroi-conteudo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroi-texto h1 {
    color: #13183F;
    font-size: 56px;
    font-weight: 800;
}

.heroi-texto p {
    color: #83869a;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 2rem;
    width: 76%;

}

.heroi-botao {
    color: white;
    background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #f02aa6 100%));
    margin-top: 2rem;
    width: 167px;
    height: 53px;
    border: none;
    border-radius: 31px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s ease-in;
}

.heroi-botao:hover {
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50)100%),
            linear-gradient(180deg, #FF6F48 0%, #f02aa6 100%));
}

.heroi-desktop-img {
    margin-right: -38rem;
    margin-top: -14rem;
}

.heroi-tablet-img {
    display: none;
}

.heroi-mobile-img {
    display: none;
}

/*



    Cursos





    */

#cursos {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.conteiner-conteudo-cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem 1.5rem;
    justify-items: center;
}

.box-curso {
    width: 350px;
    height: 322px;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

#box-gradient {
    background: var(--Gradient-1, linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%));
}

.box-curso h2 {
    font-size: 32px;
    padding-top: 6rem;
    padding-left: 1.3rem;
    font-weight: 800;
    width: 90%;
    color: white;
    text-align: center;
}

.icone-box {
    margin-left: 1.5rem;
    margin-top: -1.5rem;
}

.texto-cursos-box {
    padding-top: 1rem;
    padding-left: 1.7rem;
}

.box-curso h3 {
    font-size: 24px;
    color: #13183F;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.box-curso p {
    padding-bottom: 1.5rem;
    color: #83869a;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.box-cursos-link {
    color: #f74780;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
}
/*



    Footer





    */

footer{
    background-color: #13183F;
    padding: 1rem 0rem;
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-btn{
    color: white;
    background: var(--Gradient-2, linear-gradient(180deg, #4851ff 0%, #f02aa6 100%));
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 28px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s ease-in;
}

.footer-btn:hover{
    background: var(--Gradient-2, linear-gradient(0deg, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.50) 100%),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%));
}


/*






    Media Queries





    */

@media screen and (max-width: 1440px) {

    .heroi-texto h1 {
        width: 100%;
        font-size: 53px;
    }

    .heroi-texto p {
        width: 80%;

    }

    .heroi-desktop-img {
        display: none;
    }

    .heroi-tablet-img {
        display: block;
        margin-right: -30rem;
        margin-top: -10rem;
    }

    .conteiner-conteudo-cursos {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 1280px) {
    .heroi-texto h1 {
        width: 100%;
        font-size: 50px;

    }

    .heroi-texto p {
        width: 90%;
    }

    .heroi-tablet-img {
        margin-right: -28rem;
        margin-top: -10rem;
    }
}

@media screen and (max-width: 1024px) {
    .heroi-texto h1 {
        width: 90%;
        font-size: 32px;

    }

    .heroi-texto p {
        width: 90%;
        font-size: 16px;
    }

    .box-curso {
        width: 340px;
    }


}

@media screen and (max-width:980px) {
    .heroi-tablet-img {
        display: none;
    }

    #heroi {
        margin-top: 3rem;
    }

    .heroi-conteudo-container {
        flex-direction: column;
    }

    .heroi-texto h1 {
        width: 100%;
        font-size: 35px;

    }

    .heroi-texto p {
        width: 95%;
    }

    .heroi-mobile-img {
        display: block;
    }

}

@media screen and (max-width: 932px) {
    .heroi-texto h1 {
        width: 150%;
        font-size: 24px;

    }

    .heroi-texto p {
        width: 150%;
        font-size: 10px;
    }


}

@media screen and (max-width: 850px){
    .heroi-texto h1{
        width: 100%;
        font-size: 40px;
    }

    .heroi-texto p{
        width: 95%;
        font: 20px;
    }

    .conteiner-conteudo-cursos {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem 0rem;
    }
    #box-gradient {
        height: 200px;
    }

    .box-curso{
        width: 100%;
    }
    .box-curso h2 {
        width: 100%;
        position: absolute;
        padding-top: 35px;
        padding-left: 0;

    }
    
    .box-curso p{
        width: 80%;
    }

}


@media screen and (max-width:320px) {
    .botao-preto {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }

    .heroi-texto h1 {
        width: 100%;
        font-size: 27px;
    }

    .box-curso{
        margin-left: 0;
    }

    .box-curso p{
        font-size: 80%;
    }

    .footer-btn{
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

}